services:
  - docker

after_success:
  - bash <(curl -s https://codecov.io/bash)

matrix:
  include:
    # Go components
    - language: go
      go:
        - "1.11"
      install:
        - go get -u golang.org/x/lint/golint
        - curl https://raw.githubusercontent.com/golang/dep/master/install.sh | sh
        - make deps
      before_script:
        - go vet ./...
        - go build ./...
        - make testenv
        - go test -run xxxx ./...
      script:
        - go fmt ./...
        - golint $(go list ./... | grep -v /vendor/) # golint doesn't ignore vendor
        - go test -race -coverprofile=coverage.txt ./...

    # Frontend
    - language: node_js
      node_js:
        - "8.12"
      env:
        - TEST="frontend"
      before_install: cd frontend
      install:
        - npm install
      before_script:
        - npm run lint
      script:
        - npm run build
        - npm test -- --coverage 

    # Client
    - language: node_js
      node_js:
        - "8.12"
      env:
        - TEST="client"
      before_install: cd client
      install:
        - npm install
      before_script:
        - npm run lint
      script:
        - npm test

notifications: 
  email: false 
