// Animation Preset Variables
$transition-time: .2s;

// Colors
$button-hover-color: #008cba;
$button-hover-textcolor: #ffffff;

.animate {
  &-button {
    &:hover {
      background-color: $button-hover-color;
      color: $button-hover-textcolor;
      transition: all $transition-time ease-in-out;
    }
  }
  &-link {
    &:before, &:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: -1px;
    }
    :before {
      left: 0;
      transition: $transition-time;
    }
    &:hover:before {
      background: white;
      width: 100%;
      transition: width $transition-time cubic-bezier((0.22, 0.61, 0.36, 1));
    }
  }
}

