// Animation Preset Variables
$transition-time: .2s;

// Colors
$button-hover-color: #008cba;
$button-hover-textcolor: #ffffff;

.animate {
  &-button {
    &:hover {
      background-color: $button-hover-color;
      color: $button-hover-textcolor;
      transition: all $transition-time ease-in-out;
    }
  }

  &-menu {
    li a:before, #navbar li a:after {
      content: '';
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: -1px;
    }
    
    li a:before {
      left: 0;
      transition: $transition-time;
    }
    
    li a:hover:before {
      background: rgb(13, 26, 38);
      width: 100%;
      transition: width $transition-time cubic-bezier((0.22, 0.61, 0.36, 1));
    } 
  }
}

