/////////////////////////
// ELEMENT DECORATIONS //
/////////////////////////

body {
  color: black;
  font-family: sans-serif;
}

.title {
  font-size: 40px;
}

.shadow {
  box-shadow: 0 4px 6px $shadow;
}

// opacity declarations
.opacity {
  &-0  { opacity: 0; }
  &-20 { opacity: .2; }
  &-40 { opacity: .4; }
  &-60 { opacity: .6; }
}

// visibility declarations
.display {
  &-none { display: none; }
}

// overflow modes
.overflow {
  &-hidden { overflow: hidden; }
}

// border-radius
.border {
  &-m {
    border-radius: 3px;
  }
}

// Message / Highlight styling
.highlight {
  &-blue {
      color: #059;
      background-color: #BEF;
  }

  &-green {
      color: #270;
      background-color: #DFF2BF;
  }

  &-orange {
      color: #9F6000;
      background-color: #FEEFB3;
  }

  &-red {
      color: #D8000C;
      background-color: #FFBABA;
  }
}


///////////////////////////////////////////////////////////////
// Input and button sizings, define more here to standardize //
///////////////////////////////////////////////////////////////

// TODO: Remove most of this
.input-small {
  width: 200px;
  height: 30px;
}

.button-small {
  height: 30px;
  width: 100px;
}

.button-medium {
  height: 30px;
  width: 150px;
}

// Input textbox, apply to any <input> to apply pinpoint theme
.input-box {
  border-radius: 5px;
  margin: 2px;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
  text-indent: 10px;
}

// Remove default linking text style and change to pinpoint theme
a {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

// Pinpoint theme button
.click-button {
  background-color: white;
  margin-top: 5px;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
}

.pinpointlogo {
  float: left;
  height: 60px;
}

// Navbar
.navbar {
  position: fixed;
  line-height: 60px;
  width: 100%;
  border: 1px solid black;

  ul {
    float: right;
    list-style: none;
  } 

  li {
    display: inline-block;
    a {
      color: black;
      position: relative;
    }
  }
}

// Removes any focusing behaviour from style for pinpoint theme
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

input:focus, textarea:focus, button:focus {
    outline: none;
}