/////////////////////////
// ELEMENT DECORATIONS //
/////////////////////////

body{
  font-family: sans-serif;
  color: black;
}

.title{
  font-size: 40px;
}

.shadow {
  box-shadow: 0px 4px 6px $shadow
}

// opacity declarations
.opacity {
  &-0  { opacity: 0 }
  &-20 { opacity: 0.2 }
  &-40 { opacity: 0.4 }
  &-60 { opacity: 0.6 }
}

// visibility declarations
.display {
  &-none { display: none }
}

// overflow modes
.overflow {
  &-hidden { overflow: hidden }
}

// Default Pinpoint Styling for Ul
ul {
  list-style: none;
}

// Club image icon
.club-img {
  &-l{
    width: 121px;
    height: 121px;
    border-radius: 30px;
  }
}


///////////////////////////////////////////////////////////////
// Input and button sizings, define more here to standardize //
///////////////////////////////////////////////////////////////
.input-small{
  width: 200px;
  height: 30px;
}

.button-small{
  height: 30px;
  width: 100px;
}

.button-medium{
  height: 30px;
  width: 150px;
}

// Input textbox, apply to any <input> to apply pinpoint theme
.input-box{
  border-radius: 5px;
  margin: 2px;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
  text-indent: 10px;
}

// Remove default linking text style and change to pinpoint theme
a{
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

// Pinpoint theme button
.click-button{
  background-color: white;
  margin-top: 5px;
  border-radius: 10px;
  border-color: black;
  border-width: 3px;
}

// Removes any focusing behaviour from style for pinpoint theme
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input:focus, textarea:focus, button:focus {
    outline: none;
}
