///////////////////////////////////////////////////////////////
// Input and button sizings, define more here to standardize //
///////////////////////////////////////////////////////////////
// Default pinpoint theme
a {
  color: grey;
  font-weight: bold;
  text-decoration: none;
}

// Removes any focusing behaviour from style for pinpoint theme
input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color: transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color: transparent; } /* IE 10+ */

input:focus, textarea:focus, button:focus {
  outline: none;
}

// TODO: Remove most of this
.input-small {
  width: 300px;
  height: 45px;
}

.input-large {
  width: 600px;
  height: 30px;
}

.button-small {
  height: 30px;
  width: 100px;
}

.button-medium {
  height: 30px;
  width: 150px;
}

.button-default {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $primary;
  border: $primary;
  border-radius: 20px;
  color: white;
  a:hover, &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.button-signup {
  @extend .button-default;
  width: 300px;
  height: 60px;
  font-size: 24px;
}

.click-button {
  @extend .button-default;
  font-weight: bold;
  a {
    color:white;
  }
}

// Input textbox, apply to any <input> to apply pinpoint theme
.input-box {
  margin: 5px;
  border: 1px solid $gray-4;
  box-sizing: border-box;
  border-radius: 10px;
  text-indent: 10px;
}
