// Message / Highlight styling

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');

.highlight{
    &-msg{
        margin: 10px 0;
        padding: 10px;
        border-radius: 3px 3px 3px 3px;
    }

    &-blue{
        color: #059;
        background-color: #BEF;
    }

    &-green{
        color: #270;
        background-color: #DFF2BF;
    }

    &-orange{
        color: #9F6000;
        background-color: #FEEFB3;
    }

    &-red{
        color: #D8000C;
        background-color: #FFBABA;
    }
}

///////////////////
// Usage Example //
///////////////////

// <div class="highlight-msg highlight-blue">
//   <i class="fa fa-info-circle"></i>
//   This is an info message.
// </div>

// <div class="highlight-msg highlight-green">
//   <i class="fa fa-check"></i>
//   This is a success message.
// </div>

// <div class="highlight-msg highlight-orange">
//   <i class="fa fa-warning"></i>
//   This is a warning message.
// </div>

// <div class="highlight-msg highlight-red">
//   <i class="fa fa-times-circle"></i>
//   This is a error message.
// </div>


////////////////////////
// Ex Javascript code //
////////////////////////
//   // Function can be reused elsewhere, potentially put into a lib
//   // content: string input
//   // messageType: "info", "success", "warning", "error"
// generateMessage() {
//     const { message, showmessage } = this.state;
//     const colors = {
//       info: 'blue',
//       success: 'green',
//       warning: 'orange',
//       error: 'red',
//     };

//     if (showmessage) {
//       return (
//         <div className={`highlight-msg highlight-${colors[message.messageType]}`}>
//           <i className="fa fa-times-circle" />
//           {message.content}
//         </div>
//       );
//     }
//   }

