$transitionSpeed: 0.5s;

.navbardiv{
      padding-bottom: 80px;
      
      #navbar {
        position: fixed;
        padding: 10px;
        line-height: 60px;
        width: 100%;
        border: 1px solid black;
      }

      .pinpointlogo {
        float: left;
        margin-left: 10px;
        height: 60px;
      }

      #navbar ul {
        float: right;
        list-style: none;
        transition: transform $transitionSpeed ease-out;
      } 

      #navbar li {
        display: inline-block;
      }
      
      #navbar li a {
        color: rgb(13, 26, 38);
        font-size: 0.8em;
        margin: 0 20px;
        padding: 0 4px;
        position: relative;
        transition: all $transitionSpeed ease;
      }
      
      /* Animated Bottom Line */
      #navbar li a:before, #navbar li a:after {
        content: '';
        position: absolute;
        width: 0%;
        height: 1px;
        bottom: -1px;
      }
      
      #navbar li a:before {
        left: 0;
        transition: $transitionSpeed;
      }
      
      #navbar li a:hover:before {
        background: rgb(13, 26, 38);
        width: 100%;
        transition: width $transitionSpeed cubic-bezier((0.22, 0.61, 0.36, 1));
      } 
}
