// Navbar

.pinpointlogo {
    float: left;
    height: 60px;
  }

.navbar {
    box-sizing: border-box;
    position: fixed;
    line-height: 60px;
    width: 100%;

    ul {
      float: right;
      list-style: none;
    }

    li {
      display: inline-block;
      padding: 15px;
      a {
        color: white;
        position: relative;
      }
    }
  }
