/////////////////////////
//   SPACING CLASSES   //
/////////////////////////

$spacing-xxs:  4px;
$spacing-xs:   8px;
$spacing-s:   16px;
$spacing-m:   24px;
$spacing-l:   32px;
$spacing-xl:  40px;
$spacing-xxl: 48px;
$spacing-nav: 60px;
$spacing-xxxxl: 300px;


// todo - more classes, replace 1 with variables

.pad {
  // navbar
  &-nav { 
    padding-bottom: $spacing-nav;
  }

  // left padding
  &-left, &-sides {
    &-m { padding-left: $spacing-m; }
    &-xxxl { padding-left: $spacing-xxxl; }
  }

  // right padding
  &-right, &-sides {
    &-m { padding-right: $spacing-m; }
  }

  // top margin
  &-top, &-ends {
    &-xs { padding-top: $spacing-xs; }
    &-s { padding-top: $spacing-s; }
    &-m { padding-top: $spacing-m; }
    &-xxl { padding-top: $spacing-xxl; }
  }

  // bottom margin
  &-bot, &-ends {
    &-xs { padding-bottom: $spacing-xs; }
    &-s { padding-bottom: $spacing-s; }
    &-m { padding-bottom: $spacing-m; }
  }
}

.margin {
  // navbar
  &-nav { 
    margin: 0;
  }

  &-title {
    margin-bottom: $spacing-s;
    margin-top: $spacing-xxl;
  }

  // left margin
  &-left, &-sides {
    &-xs { margin-left: $spacing-xs; }
    &-s { margin-left: $spacing-s; }
    &-m { margin-left: $spacing-m; }
    &-l { margin-left: $spacing-l; }
  }

  // right margin
  &-right, &-sides {
    &-xs { margin-right: $spacing-xs; }
    &-s { margin-right: $spacing-s; }
    &-m { margin-right: $spacing-m; }
    &-l { margin-right: $spacing-l; }
  }

  // top margin
  &-top, &-ends {
    &-xs { margin-top: $spacing-xs; }
    &-s { margin-top: $spacing-s; }
    &-m { margin-top: $spacing-m; }
    &-l { margin-top: $spacing-l; }
  }

  // bottom margin
  &-bot, &-ends {
    &-xs { margin-bottom: $spacing-xs; }
    &-s { margin-bottom: $spacing-s; }
    &-m { margin-bottom: $spacing-m; }
    &-l { margin-bottom: $spacing-l; }
  }
}
