/////////////////////////
//        FONTS        //
/////////////////////////

// todo - font faces

/////////////////////////
//    TEXT CLASSES     //
/////////////////////////

// todo - headers, more classes, etc

.text {
  &-center { text-align: center; }
  &-nowrap { white-space: nowrap; }
}

.h1 {
  font-size: 30px;
}

.underline { text-decoration: underline; }
