/////////////////////////
//  COLOR DECLARATIONS //
/////////////////////////

$shadow: rgba(0, 82, 174, .15);
$primary: #EA0808;
$primary-bg: linear-gradient(180deg, #F20909 -8.73%, #FFA800 87.82%);
$gray-2: #4F4F4F;
$gray-3: #828282;
$gray-4: #BDBDBD;
