// Default Card (without fixed weight and height)
.card {
  background: white;
  border-radius: 50px;
  padding: 25px 50px;
  .card {
    &-title { color: $gray-2; }
    &-text { color: $gray-3; }
    &-description { font-size: 16px; color: $gray-3; }
  }
  &-button {
    background-color: rgb(243, 62, 62);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 12px;
    
    .button {
        &-small { font-size: 14px; }
        &-large { font-size: 16px; }
    }
  }
}
