// Navbar

.pinpointlogo {
  float: left;
  height: 60px;
  // TODO: Temporary for text logo while we have no image logo. REPLACE
  a {
    display: inline-block;
    padding: 15px 30px;
    color: white;
    position: relative;
    letter-spacing: 3px;
    font-size: 18px;
  }
}

.navbar {
  box-sizing: border-box;
  position: fixed;
  line-height: 60px;
  width: 100%;

  ul {
    float: right;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 15px 30px;
    a {
      color: white;
      position: relative;
    }
  }
}
