.reset {
    font-family: sans-serif;
    color: black;
    text-align: center;
    margin-top: 100px;

    .title{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .fields{
        display: inline-grid;
        margin-top: 30px;
        margin-bottom: 10px;
        input{
            width: 200px;
            height: 30px;
            border-radius: 5px;
            margin: 2px;
            border-radius: 10px;
            border-color: black;
            border-width: 3px;
            text-indent: 10px;
        }
    }

    .submit{
        height: 30px;
        width: 150px;
        background-color: white;
        margin-top: 5px;
        border-radius: 10px;
        border-color: black;
        border-width: 3px;
    }

    .loginhelp{
        margin: 10px;
    }

    a{
        text-decoration: none;
        color: grey;
        font-weight: bold;
    }

    input:focus::-webkit-input-placeholder { color:transparent; }
    input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
    input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
    input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

    input:focus, textarea:focus, button:focus {
        outline: none;
    }

    button:hover {
        background-color: #008CBA;
        color: white;
        transition: all 0.2s ease-in-out
    }
}